
  <% content_for :hero_key do %>

    <chunk of="html">

    </chunk>
  <% end %>

  <% content_for :main_key do %>

    <chunk of="html">
      <section class="main-contact">
        <div class="wrap row small-up-1 medium-up-2">

          <div class="column">
            <h3>Hit me up!</h3>
            <dl>
                <p><strong>Email:</strong>

                <a href="mailto:<%= $my_email %>"><%= $my_email %></p></a>

                <p><strong>Phone:</strong>

                <a href="tel:<%= $my_phone %>"><%= $my_phone %></p></a>

                <p><strong>GitHub:</strong>
                    <a href="https://github.com/chrisdel101">github.com/chrisdel101</a>

                    <p><strong>Write me on Twitter: </strong><a href="<%= $my_twitter %>"><%= $my_twitter %></p></a>
                </p>
            </dl>
            <!-- <dl class="contact-form">
                <h3>Send me a Message</h3>
                <form id="contact-form" action="/contact" method="POST">
                    <label for="name"></label>
                    Your Name:
                    <input id="name" type="text" name="name" placeholder="name">
                    <label for="email"></label>
                    Your Email:
                    <input id="email" type="email" name="email" placeholder="email" required>
                    <label for="message"></label>
                    Your Message:
                    <textarea type="textarea" form="contact-form" name="message" placeholder="Hey, what's up"></textarea>
                    <input id="message" class="button" type="submit" name="submit" value="Send">
                </form>

            </dl> -->

        </div>

        <div class="column">
          <img src="img/places/me.png" />

        </div>

        </div>
      </section>
    </chunk>
  <% end %>
