<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chris Del Web Developement Profile</title>

    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/mystyles.css">
<!--- FONTS --------------------------------------------------->
<!-- abel -->
    <link href="https://fonts.googleapis.com/css?family=Abel|Open+Sans|Orbitron" rel="stylesheet">

    <!-- <script src="https://use.fontawesome.com/199ac73543.js"></script> -->
  </head>

  <body>

    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>


    <!--- OFF CANVAS MENU -------------------------------------->

           <div class="off-canvas position-left" id="mobile-menu" data-off-canvas>
             <div class="mobile-nav-menu">
                 <ul>
                   <li><a href="/">Home</a></li>
                   <li><a href="/about">About</a></li>
                   <li><a href="/work">Work</a></li>
                   <li><a href="/blog">Blog</a></li>
                   <li><a href="/contact">Contact</a></li>
               </ul>
             </div>
            </div>

    <!--MOBILE NAVBAR ------------------------------------------------------>
        <div class="off-canvas-content" data-off-canvas-content>

    <!-- mobile bar opens at small-only with class -->
            <div class="title-bar show-for-small-only">
              <div class="title-bar-left">
                <button class="menu-icon" type="button" data-open="mobile-menu"></button>
                <span class="title-bar-title">Menu</span>
              </div>
              <h6 class="mobile-site-logo">Chris Del</h6>
            </div>

    <!--NAVBAR ------------------------------------------------------>
            <div class="top-bar nav-desktop">
              <div class="wrap">
                <div class="top-bar-left">
                <h3 class="site-logo"><a href="/">Chris Del</a><h3/>
                  </div>
                    <div class="top-bar-right">
                        <ul class="menu menu-desktop">
                          <li><a href="/">Home</a></li>
                          <li><a href="/about">About</a></li>
                          <li><a href="/work">Work</a></li>
                          <li><a href="/blog">Blog</a></li>
                          <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>

    <!--HERO SECTION----------------------------------------------------->


        <!-- each page will take it's own yeild -->
            <section class="hero">
              <div class="wrap">
                <div class="hero-content">

                  <%= yield_content :hero_key %>

                </div>
              </div>
            </section>

    <!--MAIN SECTION----------------------------------------------------->
    <!-- Grid style here is set to to allow 1 per row on small, and 2 per row on medium. -->


            <section class="main">
              <div class="wrap">


                <%= yield_content :main_key %>

              </div>
            </section>


    <!--FOOTER----------------------------------------------------->
    <!-- The footer itself spans the entire page, and the wrap holds the content in that. -->
            <footer>
              <div class="wrap">
                <div class="top-footer-row row small-up-1 medium-up-4">

                    <div class="column">
                      <div class=icon id=icon-1>
                      <a href="https://github.com/arssonist"><img src="../img/icons/Picture2.png"></a>
                      </div>
                    </div>

                    <div class="column">
                      <div class=icon id=icon-2>
                      <a href="https://www.linkedin.com/in/chrisdel1"><img src="../img/icons/Picture4.png"></a>
                      </div>
                    </div>

                    <div class="column">
                      <div class=icon id=icon-3>
                      <a href="https://chrisdelwebdev.wordpress.com/"><img src="../img/icons/Picture1.png"></a>
                      </div>
                    </div>

                    <div class="column">
                      <div class=icon id=icon-4>
                      <a href="https://twitter.com/The_Seperator"><img src="../img/icons/Picture4.png"></a>
                      </div>
                    </div>
                </div>

                <div class="bottom-footer-row row small-up-1 medium-up-2">

                    <div class="column">
                      <hr>
                      <a href= "tel:<%= $my_phone %>"><span>Call Me: <%= $my_phone %></span></a>
                    </div>

                    <div class="column">
                      <hr>
                      <a href="mailto:<%= $my_email %>"><span>Email Me: <%= $my_email %> </span></a>
                    </div>

                </div>
              </div>
            </footer>
          </div>
        </div>
      </div>


    <!--JS-SCRIPT----------------------------------------------------->
  <!-- Function for using links in template   -->
  <!-- <script>Handlebars.registerHelper('link', function(obj) {
    var url  = obj.url;
    var text = obj.text;
    if (text == undefined) {
        text = url;
    }
    return new Handlebars.SafeString( '<a href="' + url + '">' + text + '</a>' );
}); -->
<!-- </script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
    <script src="js/work.js"></script>
    <script src="js/blog.js"></script>
    <script src="js/index.js"></script>



  </body>
</html>
